# Testausdokumetti

Yksikkötestauksen kattavuusraportti on nähtävissä [Codecov:ssa](https://app.codecov.io/gh/DualRedd/chessbot).
